<ion-card class="formContainer">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <ion-item
      ><ion-label position="stacked">Meno a Priezvisko</ion-label>
      <ion-input clearInput [formControl]="controls.fullName"></ion-input>
    </ion-item>
    <app-input-error
      [displayError]="controls.fullName.invalid === true"
      [errorText]="errorsServ.extractControlErrorMessage(controls.fullName)"
    ></app-input-error>
    <ion-item
      ><ion-label position="stacked">Email</ion-label>
      <ion-input
        [formControl]="controls.email"
        clearInput
        type="email"
        inputmode="email"
        multiple="false"
      ></ion-input></ion-item
    ><app-input-error
      [displayError]="controls.email.invalid === true"
      [errorText]="errorsServ.extractControlErrorMessage(controls.email)"
    ></app-input-error
    ><ion-item
      class="date-field"
      (click)="calendar.presentPopover()"
      id="open-date-input-2"
      button="true"
    >
      <ion-label position="stacked">Dátum narodenia</ion-label>
      <ion-input readonly [formControl]="controls.date"></ion-input>
      <app-calendar
        #calendar
        (dateChange)="onUserDateInput($event)"
      ></app-calendar> </ion-item
    ><app-input-error
      [displayError]="controls.date.invalid === true"
      [errorText]="errorsServ.extractControlErrorMessage(controls.date)"
    ></app-input-error
    ><ion-item
      ><ion-label position="stacked">Krajina</ion-label>
      <ion-select [formControl]="controls.country">
        <ion-select-option
          *ngFor="let country of countries"
          [value]="country"
          >{{ country }}</ion-select-option
        ></ion-select
      >
    </ion-item>
    <app-input-error
      [displayError]="controls.country.invalid === true"
      [errorText]="errorsServ.extractControlErrorMessage(controls.country)"
    ></app-input-error>
    <div class="connection-error-container">
      <ion-text color="danger" *ngIf="showCountriesNotFetchedError"
        >Nepodarilo sa stiahnúť zoznam krajín, dotazník nie je možné vyplniť.
        Pre nový pokus obnovte stránku.</ion-text
      >
    </div>
    <div class="info-container">
      <ion-text
        *ngIf="
        inputValidationServ.checkAllControlsAccessed() === false && showCountriesNotFetchedError === false
        "
        >Všetky polia sú povinné.</ion-text
      >
    </div>
    <div class="buttons">
      <ion-button (click)="onResetClick()" color="medium">Resetovať</ion-button>
      <ion-button type="submit" [disabled]="submitEnabled === false"
        >Potvrdiť</ion-button
      >
    </div>
  </form>
</ion-card>
